/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a, .topnav .navLink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position:relative;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover, .topnav .navLink:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav .navLink:hover .cartText {
    background-color: #333;
    color: #ddd;
  }

  i {
    text-align: center;
  }

  .cartText {
    position: absolute;
    background-color: #ddd;
    border-radius: 4px;
    color: #333;
    top: -3px;
    left: 70px
  }